<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Results</title>
</head>
<body>
    <h2>My Favorite Movie</h2>
    <p>Title : {{session['title']}}</p>
    <p>Genre : {{session['genre']}}</p>
    <p>Year of Release : {{session['release_year']}}</p>
    <p>Movie Length : {{session['movie_length']}}</p>


    <a href="/clear"><button>Go Back to Form!</button></a>
</body>
</html>