<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew's Profile Page!</title>
    <style>
        .bg-teal {
            background-color: {{bg_color}}
        }
    </style>
</head>
<body>
    
    <h1>Profile Page For {{andrew_data.first_name}} {{andrew_data.last_name}} </h1>

    <p class="bg-teal">Education : {{andrew_data.education}}</p>

</body>
</html>